<div class="row">
<div class="col-md-offset-3 col-md-6 ">
<%=form_for(:session, url: sessions_path) do |f| %>



<%=f.label :username %>
<%=f.text_field :username, class: "form-control"%>

<%= f.label :password%>
<%= f.password_field :password, class: "form-control"%>

<%= f.submit "SINGIN", class: "btn btn-default"%>
<%end%>
<%=link_to 'Back to main page', "/"  %>
</div>
</div>
 <div class="container">
    <%= debug(params) if Rails.env.development? %>
  </div>	