<h1>INDEX ACTIONS</h1>
<%@posts.each do |post|%>
<article class="post">

  <section class="post-head">
   <!-- <%= image_tag post.image.url(:thumb), class: 'img-thumbnail thumb' if post.image? %>-->
    <h2> <%= link_to post.title, post_path(post)%> </h2>
   </section>

  <small>
    <time>
    <%= post.created_at.to_date.strftime("%d %B, %Y") %>
    </time>
    <% if logged_in? %>
  <%= link_to 'EDIT', edit_post_path(post), class: 'btn btn-warning btn-xs' %>
  <%= link_to 'Delete', posts_path(post), method: :delete, data: {confirm: "DELETE??"},
                                                          class: 'btn btn-danger btn-xs'%>
        <% end %>
  </small>

 </article>
<% end %>
<%= will_paginate @posts,  renderer: BootstrapPagination::Rails %>