<h1> This's main page site </h1>
<%=will_paginate %>
<% @posts.each do |post| %>
<div id="page-header">
  <h1><%= link_to post.title, post_path(post)%></h1>

<small>
  <time><%= post.created_at.to_date.strftime("%d %B %Y")%></time>
<%= link_to 'Read the entire news', "#" %>
</small>
</div>

<% end %>
</div>
<%= will_paginate%>