<h1>This page for create new news</h1>

<%= form_for @posts do |f|%>
<%= f.label :title %>
<%= f.text_field :title %>
    <%= f.label :text %>
    <%= f.text_area :title %>
    <%= f.submit 'Send' %>


<%end %>
