<!DOCTYPE html>
<html>
<head>
  <title>NewsBlog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="<%= posts_path %>">POSTeR</a>
  </li>
  <li class="nav-item">
  <%= link_to 'CREATE NEW POST', new_post_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">CONTACT FORM</a>
  </li>


  <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Sing OUT", destroy_user_session_path, method: :delete, class: "nav-link" %>

      </li>

      <% else %>

      <li class="nav-item">
        <a class="nav-link" href="<%= new_user_session_path %>">Sing IN</a>
      </li>
     <li class="nav-item">
       <a class="nav-link" href="<%= new_user_registration_path %>">Sing UP</a>
      </li>
      <% end %>
</ul>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% flash.each do |name, msg| %>
      <div class="alert <%= bootstrap_class_for(name) %>">
        <%= msg %>
        <% end %>
      </div>
    </div>
  </div>

<%= yield %>
</div>


</body>
  </html>